html, body{
  height: 100%;
  width: 100%;
}

h1, h2, h3, h4, h5, h6{
  font-family: Indie Flower,cursive,Arial, Helvetica, sans-serif;
  text-align: center;
  color:whitesmoke
}

body{
  background-color: #cf81f3;
}

img{
  display:block;
  margin-left: auto;
  margin-right: auto;
  width:30%;
}